<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
            <!-- Page Header-->
            <header class="masthead">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h2>Appointment</h2>
                                <span class="subheading">Under Construction</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content-->
            <main class="mb-4">
                <div class="container px-2">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                           
                                        <div class="container">
                                            <div class="row">
                                                <form id="appointmentForm" method="POST"
                                                    action="/appointment/date">
                                                    <div class="justify-content-center">
                                                        
                                                            <div class="form-floating">
                                                                <input class="form-control" name="appointmentDate"
                                                                    id="appontmentDate" type="date"
                                                                    placeholder="Enter your date and time..."
                                                                     />
                                                                <label for="appointmentDate">Appointment</label>
                                                            </div>

                                                            <div class="form-floating">
                                                                <input  name="appointmentTime"
                                                                    id="appontmentTime" type="radio"
                                                                    
                                                                    value="9:00"
                                                                     >
                                                                     9:00 AM
                                                            </input>
                                                               
                                                            </div>

                                                            <div class="form-floating">
                                                                <input  name="appointmentTime"
                                                                    id="appontmentTime" type="radio"
                                                                    
                                                                    value="10:00"
                                                                     >
                                                                     10:00 AM
                                                            </input>
                                                               
                                                            </div>

                                                            <div class="form-floating">
                                                                <input  name="appointmentTime"
                                                                    id="appontmentTime" type="radio"
                                                                    
                                                                    value="11:00"
                                                                     >
                                                                     11:00 AM
                                                            </input>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Submit Button-->
                                                    <button class="btn text-uppercase" id="submitButton" type="submit"
                                                        style="background-color: #00404e;color: white;">Add
                                                    </button>
                                                    <!-- <button class="btn text-uppercase" type="submit"
                                                        style="background-color: #00404e;color: white;">Back
                                                    </button> -->
                                                </form>
                                            </div>
                                        </div>
                                    
                        </div>
                    </div>
                </div>
            </main>
            <!-- Footer-->
            <%- include('layouts/footer'); -%>
                <!-- Scripts-->
                <%- include('layouts/scripts'); -%>
    </body>

</html>