<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h2>Dashboard</h2>
                            <span class="subheading">DriveTest Kiosk</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/g2-test">
                            <h2 class="post-title">you can book G2/G drive test from this kiosk</h2>
                            <h3 class="post-subtitle">you can book G2/G drive test from this kiosk</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">DriveTest Center</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- Scripts-->
        <%- include('layouts/scripts'); -%>
    </body>
</html>
